:root {
  --text: #061a40;
  --background: #dff2f4;
  --primary-but-dark: #37abee;
  --primary: #78c2ec;
  --secondary: #ebbb5b;
  --accent: #f2de9c;
}


body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Montserrat', sans-serif;
}


.footer {
  background-color: var(--secondary);
    padding-bottom: 1rem;
    padding-top: 1rem;
}


.navbar {
  background-color: var(--secondary);
}


.navbar_s {
  color: var(--text);
  font-family: 'Merriweather', serif;
  text-decoration: none;
  padding-right: 15px;
  padding-bottom: 2px;
}


.hero_box {
  border-radius: 15px;
  background-color: var(--primary-but-dark);
  color: var(--text);
  padding-bottom: 2rem;
  padding-top: 2rem;
  font-family: 'Merriweather', serif;
}


.card_s {
  background-color: #ffffff;
  border-left: 6px solid var(--primary);
  border-radius: 15px;
}


.button_s {
  background-color: var(--accent);
  color: var(--text);
  border: none;
  transition: transform 0.3s ease-out;
  
}

.button_s:hover {
  background-color: var(--secondary);
  color: var(--text);
  transform: translateY(-2.5px);
}


.analysis_box {
  background-color: var(--accent);
  border-radius: 15px;
  padding: 2rem;
}


.graph_container {
  background-color: #ffffff;
  border: 4px solid var(--accent);
  border-radius: 15px;
}

.graph-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
